.mat-card-live{
    border: 1px solid #CFD8DC; 
    border-radius: 4px 3px 6px / 2px 4px; 
    padding-top: 15px; 
    padding-left: 0%; 
    padding-right: 0%; 
    padding-bottom: 0%;
    margin: 18px;
    width: 38%;
    margin-bottom: 1%;
}

.mat-card-title-live{
    padding-left:10px; 
    padding-top: 0px; 
    padding-right: 15px; 
    margin-bottom: 0px; 
    min-height: 70px;
}

.mat-chip-date{
    background-color: #90CAF9 !important; 
    color: black !important;
}

.button-group {
    position: absolute;
    top: 8px;
    right: -9px;
}

.button-group button {
    margin-left: 1px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .container {
    display: flex;
  }
  
  .box {
    height: 100px;
  }
  
  .box1 {
    width: 50%;
  }
  
  .box2 {
    width: 50%;
  }
  
  .box-title{
    font-size: 1.5rem; 
    height: 15px; 
    text-align: center;
  }

  .empty-placeholder {
    height: 50px; /* ou qualquer outra altura que você preferir */
    width: 100%;
  }
  